/* Make the span for the end of an activity wide enough to hold the timestamp
 * plus a little space for separation from the description.
 */
.activity-end {
  display: inline-block;
  width: 10%;
}

/* Make the span for different duration reports wide enough to hold the
 * information plus a little space for separation from the description.
 */
.project-total, .activity-duration {
  display: inline-block;
  width: 5%;

}

/* Make the span for the description of a project or activity as wide as
 * possible while fitting on a line with the other information presented with
 * it.
 */
.project-name, .activity-description {
  display: inline-block;
  inline-size: 85%;
  overflow-wrap: break-word;
  border: 1px solid blue;
}

/* Control the visibility of the error report element.  The class of the
 * element should be switched between these depending on whether or not there
 * is an error to report or not.
 */
.error-hidden, .content-hidden {
  display: none;
}

/* Like activity-duration but for the current (unrecorded) activity's
 * duration.
 */
.current-duration {
  display: inline-block;
  width: 5%;
}

/* Make the text input for the current (unrecorded) activity's description as
 * wide as possible.
 */
.current-description > input {
  display: inline-block;
  width: 90%;
}

/* Get the control panel buttons centered because it's pretty.  Note this
 * depends on the containing div also having a width: 100%.  See `.root`.
 */
.control-panel-buttons {
  width: 100%;
  text-align: center;
}

/* Help out .control-panel-buttons.
 */
.root {
  width: 100%;
}
